<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ARTificial Intelligence: Machine Learning</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/sketchy/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">ARTificial Intelligence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/artist_gallery">Artist's Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/test_gallery">Test Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/data">The Data</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <br>

      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="row featurette">
          <div class="col-md-12 order-md-2">
            <h2 class="featurette-heading">Artist's Gallery: Evolution</h2>
            <p class="lead">Throughout an artist's lifetime, changes in method, subject matter, and even style are to be expected. 
              This is certainly true for the artists we've selected for this project. Both Rothko and Morris have careers that span more than 30 years
              with several distinct periods of work summarized below.
            </p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12 order-md-1  ">
            <h3 class="featurette-heading">Rothko's Periods of Work</h3>
            <p>Rothko’s professional career can be roughly broken down into five periods (his extremely early career not included).</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" id="Figurative">
            <br><h4>Figurative (1936-1939)</h4>
            <p>Modestly sized oil paintings on canvas depicting fuzzy figures and landscapes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Figurative(1936-1939)/Entrance_to_Subway_1938.jpg" alt="Entrance_to_Subway_1938">Entrance_to_Subway_1938
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Figurative(1936-1939)/Interior_1936.jpg" alt="Interior_1936">Interior_1936
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Figurative(1936-1939)/Self-Portrair_1936.jpg" alt="Portrair_1936">Portrair_1936
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="Surrealism">
            <br><h4>Surrealism (1940-1946)</h4>
            <p>Rothko works in small watercolors and large canvases during this period. His subjects draw from mythology and do not always have obvious literal interpretations. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Surrealism(1940-1946)/Aubade_1944.jpg" alt="Aubade_1944">Aubade_1944
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Surrealism(1940-1946)/Untitled_1942.jpg" alt="Untitled_1942">Untitled_1942
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Surrealism(1940-1946)/Untitled_1942_1.jpg" alt="Untitled_1942_1">Untitled_1942_1
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="Multiform">
            <br><h4>Multiform (1947-1949)</h4>
            <p>Rothko is now fully immersed in abstraction. His paintings are not yet geometrical rarified, though they contain a lot of the visual vernacular of his mature period. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Multiform(1947-1949)/No._1_1949.jpg" alt="No._1_1949">No._1_1949
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Multiform(1947-1949)/Untitled_1947.jpg" alt="Untitled_1947">Untitled_1947
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Multiform(1947-1949)/Untitled_1948.jpg" alt="Untitled_1948">Untitled_1948
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="Mature">
            <br><h4>Mature (1950-1967)</h4>
            <p>othko has now arrived at his signature style. Rectangles float on the canvas composed of dozens of thin washes of diluted oil paint stacked one on top of the next. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Mature(1950-1967)/Green_on_Maroon_1961.jpg" alt="No.Green_on_Maroon_1961">Green_on_Maroon_1961
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Mature(1950-1967)/No._10_1950.jpg" alt="No._10_1950.jpg">No._10_1950
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Mature(1950-1967)/No._3_1962.jpg" alt="No._3_1962.jpg">No._3_1962
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="Late">
            <br><h4>Late (1968-1970)</h4>
            <p>These are the works between Rothko’s aneurism and his eventual suicide. They are largely pieces on paper done with acrylics, and sometimes oil. The rectangles borders begin to merge with the edge of the painting, and grey, brown and black become central colors—though there are also many bright blue, red and pink works from this period. </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Late(1968-1970)/Untitled_1969.jpg" alt="Untitled_1969">Untitled_1969
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Late(1968-1970)/Untitled_1969_1.jpg" alt="Untitled_1969_1.jpg">Untitled_1969_1
          </div>
          <div class="col-md-4">
              <img class="featurette-image img-fluid mx-auto" src="../static/images/Rothko_examples/Late(1968-1970)/Untitled_2.jpg" alt="Untitled_2.jpg">Untitled_2
          </div>
        </div>
  
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2" id="louis">
            <h3 class="featurette-heading">Louis's Periods of Work</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" id="early_paintings_34_53">
            <br><h4>Early Paintings (1934-53)</h4>
            <p>Early works which are both abstract and figurative. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/early_paintings_34_53/Broken_Bridge_1939.jpg" alt="Broken_Bridge_1939">Broken_Bridge_1939
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/early_paintings_34_53/The_Tranquilities_II_1952-1953.jpg" alt="The_Tranquilities_II_1952-1953.jpg">The_Tranquilities_II_1952-1953
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/early_paintings_34_53/Untitled_(Dead_Bird)_1941.jpg" alt="Untitled_(Dead_Bird)_1941.jpg">Untitled_(Dead_Bird)_1941
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="veil_paintings_54">
            <br><h4>Veil Paintings (1954)</h4>
            <p>This period represents Louis’s first experiments with the repetitive pouring technique he used to create veils of color. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_54/Intrigue_1954.jpg" alt="Intrigue_1954">Intrigue_1954
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_54/Pendulum_1954.jpg" alt="Pendulum_1954.jpg">Pendulum_1954
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_54/Salient_1954.jpg" alt="Salient_1954.jpg">Salient_1954
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="abstract_expressionist_55_57">
            <br><h4>Abstract Expressionist (1955-1957)</h4>
            <p>This period represents Morris Louis’s brief stint in the New York school of Abstract Expressionists exemplified by such artists as de Kooning and Pollock. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/abstract_expressionist_55_57/Untitled_1956.jpg" alt="Untitled_1956">Untitled_1956
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/abstract_expressionist_55_57/Untitled_1956_2.jpg" alt="Untitled_1956_2.jpg">Untitled_1956_2
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/abstract_expressionist_55_57/Untitled_5-76_1956.jpg" alt="Untitled_5-76_1956.jpg">Untitled_5-76_1956
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="veil_paintings_58_59">
            <br><h4>Veil paintings (1958-59)</h4>
            <p>ouis returns to the veil technique he had abandoned in favor of abstract expressionism. During these two years, Louis produced hundreds of monumental-scale paintings.</p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_58_59/Beth_Kuf_1958.jpg" alt="Beth_Kuf_1958">Beth_Kuf_1958
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_58_59/Tet_1958.jpg" alt="Tet_1958.jpg">Tet_1958
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/veil_paintings_58_59/Umbria_1959-1960.jpg" alt="Umbria_1959-1960.jpg">Umbria_1959-1960
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="themes_variations_59_60">
            <br><h4>Themes and Variations (1959-60)</h4>
            <p>A reworking of the veil paintings with creative twists. Seal, 1959 epitomizes this. </p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/themes_variations_59_60/Ambi_II_1959.jpg" alt="Ambi_II_1959">Ambi_II_1959
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/themes_variations_59_60/Seal_1959.jpg" alt="Seal_1959.jpg">Seal_1959
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/themes_variations_59_60/Untitled_1959-1960.jpg" alt="Untitled_1959-1960.jpg">Untitled_1959-1960
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="unfurled_paintings_60_61">
            <br><h4>Unfurled Paintings (1960-61)</h4>
            <p>Louis began working with stripes in this period.</p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/unfurled_paintings_60_61/Alpha_Eta_1960.jpg" alt="Alpha_Eta_1960">Alpha_Eta_1960
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/unfurled_paintings_60_61/Iota_1961.jpg" alt="Iota_1961.jpg">Iota_1961
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/unfurled_paintings_60_61/Theta_Gamma_1960.jpg" alt="Theta_Gamma_1960.jpg">Theta_Gamma_1960
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="stripe_paintings_61_62">
            <br><h4>Stripe Paintings (1961-62)</h4>
            <p>In his last period, Louis worked with simple draw down patterns, produced columns of nested colors streaking across the canvas at simple angles. This was his most prolific period.</p>
          </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/stripe_paintings_61_62/Horizontal_III_1962.jpg" alt="Horizontal_III_1962">Horizontal_III_1962
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/stripe_paintings_61_62/Moving_In_1961-1962.jpg" alt="Moving_In_1961-1962.jpg">Moving_In_1961-1962
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/Louis_examples/stripe_paintings_61_62/No_End_1962.jpg" alt="No_End_1962.jpg">No_End_1962
          </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Luke Pharr, Rupali Mayekar, Andrea Karaffa, David Richter, Jen Vacanti</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!--This javascript will allow scrolling to the specific section of the page-->
    {% if section %}
    <script>
        $(function() { 
           location.hash = "#{{ section }}" 
        });
    </script>
    {% endif %}

  </body>
</html>