<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ARTificial Intelligence: Machine Learning</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/sketchy/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">ARTificial Intelligence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/artist_gallery">Artist's Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test_gallery">Test Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data">The Data</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <br><br><br>

      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">

        <div class="row featurette">
            <div class="col-md-8 order-md-2">
              <h2 class="featurette-heading">ARTificial Intelligence</h2>
              <p class="lead">Art and tech come together to explore the changing patterns of Rothko and Morris' paintings over time. Explore the <a href="/test_gallery">Test Gallery</a> to test a machine learning model that predicts the time period for each painter's works.
            </p>
              </div>
          </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-lg-6">
            <img class="rounded-circle"  src="../static/images/RothkoPicture.JPG"alt="Rothko" width="200" height="200">
            <h2>Marko Rothko</h2>
            <p>Mark Rothko was born in Latvia in 1903. At ten years old, he immigrated to the U.S. with his parents. Growing up in Portland, Oregon, Rothko graduated high school early with a mastery of four languages. Interested in politics, Rothko was heavily involved in labor and women’s rights movements. He also joined a theatre troupe. 
                As an artist, Rothko redefined abstract expressionism, and was the grandfather of the new Washington Color School, of which Morris Louis was the preeminent figure. His signature style of stacked, fuzzy rectangles came about as a gradual evolution starting with figurative watercolors. Rothko is without doubt among the most important painters in the history of the world.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <img class="rounded-circle" src="../static/images/morrispicture2.JPG" alt="Morris" width="200" height="200">
            <h2>Morris Louis</h2>
            <p>Morris Louis was a painter working in Washington D.C. during the 50’s and 60’s. His paintings are the quintessential example of the Washington Color School, a group of artists in the D.C. area that rejected the painterly, impasto works of the abstract expressionists in favor of a flat, light style. Louis pioneered the use of a formaldehyde based acrylic paint known as Magna that he poured on his canvases. Unwittingly filling his small studio with toxic fumes from the paint, Louis died of lung cancer in 1962. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <hr class="featurette-divider">
      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Luke Pharr, Rupali Mayekar, Andrea Karaffa, David Richter, Jen Vacanti</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

  </body>
</html>