<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ARTificial Intelligence: Machine Learning</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/sketchy/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>


  </head>
  <body>

        <header>
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <a class="navbar-brand" href="/">ARTificial Intelligence</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/artist_gallery">Artist's Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/test_gallery">Test Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/data">The Data</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </header>

    <main role="main">
      <br><br><br>

      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Test Gallery</h2>
              <p class="lead">Subhead here
                <br>We've built a machine learning model to predict the year a painting was created. More details needed here...</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-12 order-md-1">
              <h2 class="featurette-heading">Mark Rothko models</h2>
              <p class="lead">Mark Rothko Art
                <br>Below are some of Mark Rothko's paintings that we will use to test our Machine Learning models
              </p>

              <div class="row">
  
                <div class="col-md-3 order-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1937_1.jpg"> 1937_1.jpg
                    <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/1937_1.jpg" alt="Generic placeholder image">
                  </label>
                </div>
  
                <div class="col-md-3 order-md-2">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1945_4.jpg"> 1945_4.jpg
                    <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/1945_4.jpg" alt="Generic placeholder image">
                  </label>
                </div>

                <div class="col-md-3 order-md-3">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="1948_4.jpg"> 1948_4.jpg
                    <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/1948_4.jpg" alt="Generic placeholder image">
                  </label>
                </div>

                <div class="col-md-3 order-md-4">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="1955_11.jpg"> 1955_11.jpg
                    <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/1955_11.jpg" alt="Generic placeholder image">
                  </label>
                </div>
              </div><!--div class="row"-->
              <br><br>

              <div class="row">
                <button class="btn btn-primary" onclick="predictRothko()">Classify</button>&nbsp;&nbsp;
                <button class="btn btn-primary" type="submit">Clear</button>&nbsp;&nbsp;
                <button class="btn btn-primary" type="submit">View Rothko Art</button>
              </div>
              <br>

              <div class="row">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h5 class="panel-title">Classification Result:</h5>
                  </div>
                  <div class="panel-body" id="result-panel">
                    Select an image above and click the Classify button to see how the models classifies it.
                  </div>
                </div>
              </div>





              <br><br><br>
              <div class="row">
                <p class="lead">Other Art
                  <br>Below is art created by a talented artist who is influenced by Rothko's style. We will use these to see which of Rothko's style our model classifies them into.
                </p>
              </div>
            </div>
          </div>
  

          <hr class="featurette-divider">

 

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Luke Pharr, Rupali Mayekar, Andrea Karaffa, David Richter, Jen Vacanti</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <!-- <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <!-- Our javascript for predicting -->
    <script src="../static/js/predict.js"></script>


  </body>
</html>