<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ARTificial Intelligence: Machine Learning</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/sketchy/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>


  </head>
  <body>
        <br> 
        
        <header>
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <a class="navbar-brand" href="/">ARTificial Intelligence</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/artist_gallery">Artist's Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/test_gallery">Test Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/data">The Data</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </header>

    <main role="main">
      <br>
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12 order-md-1">
            <h2 class="featurette-heading">Machine Learning Models</h2>
            <p class="lead">
              <br>We've built Supervised Machine Learning Models to predict the time period in which a painting by a specific artist 
              was created. For each of the artist, we have models based on the Decision Tree Classification Algorithm 
              and a Random Forest Classifier. We used python's image processing libraries to generate metrics based on 
              the available art images. These are metrics that indicate the complexity of an image, the contours, 
              the luminance, the contrast in an image, mean_rgb colors, etc. 
              <br><br> The models use these metrics as the features
              for training and prediction and determine the year range or style as it varies 
              over a time period. These models were tweaked and saved to be used for classifying any art/painting 
              image into these predefined time periods of the artists' work. To see more painting of the astists categorized by
              the time periods, visit the <a href="../artist_gallery">Artist's Gallery</a>.
              <br><br>
            </p>
          </div>
          <div class="col-md-12 order-md-1">
            <h4>Mark Rothko Decision Tree Model</h4><br><br>
            <img class="featurette-image img-fluid mx-auto" src="../static/images/RothkoTree.png" alt="Generic placeholder image">
          </div>
          <div class="col-md-12 order-md-1">
              <br><br><h4>Morris Louis Decision Tree Model</h4><br><br>
              <img class="featurette-image img-fluid mx-auto" src="../static/images/MorrisTree.png" alt="Generic placeholder image">
            </div>
          </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12 order-md-1">
            <h2 class="featurette-heading">Mark Rothko Art Models</h2>
            <p class="lead">
              <br>Here are some of Mark Rothko's paintings that we will use to test our Machine Learning models that we created for this artist.
            </p>

            <div class="row">

              <div class="col-md-3 order-md-1">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Subway_1939.jpg"> Subway_1939.jpg
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/Subway_1939.jpg" alt="Generic placeholder image">
                </label>
              </div>

              <div class="col-md-3 order-md-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No._21_ 1953.jpg"> No._21_ 1953.jpg
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/No._21_ 1953.jpg" alt="Generic placeholder image">
                </label>
              </div>

              <div class="col-md-3 order-md-3">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Untitled_1948.jpg"> Untitled_1948.jpg
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/Untitled_1948.jpg" alt="Generic placeholder image">
                </label>
              </div>

              <div class="col-md-3 order-md-4">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="Untitled_1968.jpg"> Untitled_1968.jpg
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/rothko/Untitled_1968.jpg" alt="Generic placeholder image">
                </label>
              </div>
            </div><!--div class="row"-->
            <br>

            <div class="row">
              <button class="btn btn-primary" onclick="predictRothko()">Classify</button>&nbsp;&nbsp;
            </div>
            <br>

            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h5 class="panel-title">Classification Result:</h5>
                </div>
                <div class="panel-body" id="result-panel">
                  Select an image above and click the Classify button to see how the models classifies it.
                </div>
              </div>
            </div>
          </div><!--div class="col-md-12 order-md-1"-->
        </div> <!--div class="row featurette"-->


        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12 order-md-1">
            <h2 class="featurette-heading">Morris Louis Art Models</h2>
            <p class="lead">
              <br>Here are some of Morris Louis' paintings that we will use to test our Machine Learning models that we created for this artist.
            </p>

            <div class="row">

              <div class="col-md-3 order-md-1">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioMorrisOptions" id="inlineRadioMorris1" value="du25.jpg"> du25.jpg (early_paintings_34_53)
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/morris/du25.jpg" alt="du25.jpg">
                </label>
              </div>

              <div class="col-md-3 order-md-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioMorrisOptions" id="inlineRadioMorris2" value="du223.jpg"> du223.jpg (themes_variations_59_60)
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/morris/du223.jpg" alt="du223.jpg">
                </label>
              </div>

              <div class="col-md-3 order-md-3">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioMorrisOptions" id="inlineRadioMorris3" value="du141.jpg"> du141.jpg (veil_paintings_58_59)
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/morris/du141.jpg" alt="du141.jpg">
                </label>
              </div>

              <div class="col-md-3 order-md-4">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioMorrisOptions" id="inlineRadioMorris4" value="du331.jpg"> du331.jpg (unfurled_paintings_60_61)
                  <img class="featurette-image img-fluid mx-auto" src="../static/images/test/morris/du331.jpg" alt="du331.jpg">
                </label>
              </div>
            </div><!--div class="row"-->
            <br>

            <div class="row">
              <button class="btn btn-primary" onclick="predictMorris()">Classify</button>&nbsp;&nbsp;
            </div>
            <br>

            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h5 class="panel-title">Classification Result:</h5>
                </div>
                <div class="panel-body" id="result-panel-morris">
                  Select an image above and click the Classify button to see how the models classifies it.
                </div>
              </div>
            </div>
            <hr class="featurette-divider">
          </div>
        </div>
      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Luke Pharr, Rupali Mayekar, Andrea Karaffa, David Richter, Jen Vacanti</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <!-- <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Our javascript for predicting -->
    <script src="../static/js/predict.js"></script>


  </body>
</html>